<h1><%= @user.username %></h1>

<ul>
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>

<h2>Share a Secret</h2>
<%= render :partial => "form", :locals => {:user => @user} %>