// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.friend_buttons.friended .friend{
  display:none;
}
.friend_buttons.unfriended .unfriend{
  display:none;
}

h1{
  text-align:center;
}

